@{
    ViewData["Title"] = "Login";

    Layout = "~/Views/Shared/_Layout_login.cshtml";

    string message = TempData["ErrorMessage"] as string;
 
}  <div class="col-md-6">
    <div class="card">
        <h2 class="card-header">Login</h2>
        <div class="card-body">
            <form asp-controller="Login" asp-action="Login" method="post">
                <input name="__RequestVerificationToken" type="hidden" value="@Html.AntiForgeryToken()" />

                <div class="form-group">
                    <label for="cEmail">Email:</label>
                    <input type="email" id="cEmail" name="cEmail" class="form-control" required />
                </div>

                <div class="form-group">
                    <label for="cPassword">Password:</label>
                    <input type="password" id="cPassword" name="cPassword" class="form-control" required />
                </div>
                @if (!String.IsNullOrEmpty(message))
                {
                    <div class="message text-danger">
                        <p>@message</p>
                    </div>
                }
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
        </div>
    </div>
</div>